<template>
  <div>
    <label>
      <h1>
        รายชื่อนิสิต
      </h1>
    </label>

    <b-nav-form class="float-right" style="margin-top:10px;">
      <b-form-input class="mr-sm-2" placeholder="Search"></b-form-input>
      <b-button class="my-2 my-sm-0" type="submit" variant="info"
        >ค้นหา</b-button
      >
    </b-nav-form>

    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group label="อาจารย์ที่ปรึกษา" label-for="professor">
          <b-form-select
            id="professor"
            v-model="form.professor"
            :options="professorOptions"
            required
          ></b-form-select>
        </b-form-group>
      </form>
    </b-modal>

    <b-modal
      id="modal-form-user2"
      ref="modal-form-user2"
      :title="title"
      @hidden="resetModal"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-card class="mt-3" header="อาจารย์ที่ปรึกษา">
          <pre class="m-0">{{ form }}</pre>
        </b-card>
      </form>
    </b-modal>

    <b-table
      striped
      hover
      :items="userLists"
      :fields="fields"
      id="my-table"
      :per-page="perPage"
      :current-page="currentPage"
    >
      <template v-slot:cell(operation)="data">
        <b-button variant="primary" @click="detelUser(data.item)"
          >รายละเอียด</b-button
        >
        &nbsp;
        <b-button variant="danger" @click="editUser(data.item)">แก้ไข</b-button>
      </template>
    </b-table>

    <div class="overflow-auto">
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="my-table"
      ></b-pagination>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      perPage: 3,
      currentPage: 1,
      title: 'เพิ่มอาจารย์ที่ปรึกษา',
      form: {
        id: -1,
        studentId: '',
        name: '',
        grade: '',
        professor: null
      },
      professorOptions: [
        { text: 'Select One', value: null },
        { value: 'อาจารย์กบ อ๊บๆ', text: 'อาจารย์กบ อ๊บๆ' },
        { value: 'อาจารย์เอก', text: 'อาจารย์เอก' },
        { value: 'อาจารย์ต้น', text: 'อาจารย์ต้น' }
      ],
      userLists: [
        {
          id: 1,
          studentId: '60160065',
          name: 'Phatcharapol Saenrang',
          professor: 'อาจารย์กบ อ๊บๆ',
          grade: '3.14'
        },
        {
          id: 2,
          studentId: '60160077',
          name: 'Sompong Prera',
          professor: 'อาจารย์เอก',
          grade: '3.50'
        }
      ],
      lastId: 3,
      fields: [
        { key: 'id', label: 'ลำดับ' },
        { key: 'studentId', label: 'รหัสนิสิต' },
        { key: 'name', label: 'ชื่อ-นามสกุล' },
        { key: 'grade', label: 'เกรด' },
        { key: 'professor', label: 'สาขา' },
        'operation'
      ]
    }
  },
  methods: {
    addNew () {
      console.log('Add new user')
      this.title = 'เพิ่มอาจารย์ที่ปรึกษา'
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit ' + user)
      console.log(user)
      this.title = 'แก้ไขอาจารย์ที่ปรึกษา'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    detelUser (user) {
      this.title = 'ข้อมูลอาจารย์ที่ปรึกษา'
      this.form = { ...user }
      this.$bvModal.msgBoxOk(user.professor, {
        title: 'ข้อมูลอาจารย์ที่ปรึกษา',
        buttonSize: 'sm',
        centered: true,
        size: 'sm',
        okTitle: 'ยกเลิก'
      })
    },
    delUser (user) {
      console.log('Del ' + user)
      console.log(user)
      this.boxTwo = ''
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.name + ' หรือ ไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.deleteUser(user)
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        studentId: '',
        name: '',
        professor: null,
        grade: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      if (this.stateName === false || this.stateGender === false) {
        return
      }
      // Do when pass Validation
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    addUser (user) {
      user.id = this.lastId++
      this.userLists.push(user)
    },
    updateUser (user) {
      const index = this.userLists.findIndex(item => item.id === user.id)
      this.userLists.splice(index, 1, user)
    },
    deleteUser (user) {
      const index = this.userLists.findIndex(item => item.id === user.id)
      this.userLists.splice(index, 1)
    }
  },
  computed: {
    rows () {
      return this.userLists.length
    }
  }
}
</script>
